/*VARIABLES*/

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

/*---------------------------------------------- MOBILE -------------------------------------------*/

* {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
       
}

article {
    margin-top: 30px;
    margin-bottom: 1px;
    background-color: white;
}

body {
    margin: 0;
    background-color: #ebebeb;
}

body .tituloregistro{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

body .tituloregistro h2 {
    font-size: 18px;
}

body .listadoregistro {
    text-align: center;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    border: solid #101215;
    font-size: 12px;
    width: 50%;
    background-color:rgb(100 100 100 / 24%);
    border-radius: 25px;
}

body .listadologin {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;;
}


body .camposformulario {
    padding: 5px;
    margin: 0 auto;
    border:#666
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding: 10px 3px;
    width: 40px;
    text-align: center;
    transition: all, 450ms;
}

div.burger-menu i:hover {
    background-color: var(--Azul)
}

footer p,h6 {
    margin: 5px 0
}

footer p {
    font-size: 18px;
}

footer div p {
    margin-left: 10px;
    margin-right: 10px;
}

h6 {
    font-size: 24px;
}

header {
    background-color: var(--Amarillo);
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .logoycomprar {
    display:flex;
    justify-content: space-between;
}

main {
    margin: auto;
    width: 90%;
}

main h3 {
    font-size: 18px;
    margin-top: 10px;
    padding: 7px;
}


main section div {
    padding: 7px;
    /*background-color: white;*/
}


main section div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }

main section div:hover .descripciones{
    opacity: 100%;;
}
   
section div.topicos{
    border-top: 1px solid #ebebeb;
    position: relative;
    width: 100%;
}







.barra{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 48%;
    margin-right: 2px;
    padding: 5px;
}

.barraSuperior2 i{
    margin: 5px;
}

.botonenviar input{
    background-color: var(--Celeste);
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.botonreset input{
    background-color: var(--Celeste);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

}

.botonenviar input:hover{
    background-color: var(--Azul) ;
}

.botonreset input:hover{
    background-color: var(--Azul) ;
}

.cabecera {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cajacelesteregistro{
    height: 30%;
    background-color: black;
    padding: 2%;
    border:black;
}

.descuentos {
    font-size: 16px;
    color: var(--Verde);
    width: 30%;
    text-align: center;
}

.descripciones{
    opacity: 0%;;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-size: 16px;
    /*color: #000;*/
    transition: all, 700ms
}

.fa-truck {
    color: var(--Verde);
    border: solid 1px var(--Verde);
    border-radius: 50%;
    padding: 5px;
    transition: all, 700ms;

}

.fa-truck:hover {
    transform: rotateZ(-90deg);
}

.flexibles {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}

.footer-icon {
    text-align: center;
    margin-bottom: 30px;
}

.footer-icon i{
    color: var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 20px;
}

.footer-icon h6 {
    font-size: 18px;
}

.footer-icon p {
    font-size: 12px;
}

.fotodeusuario{
    border-collapse: collapse;
}

header nav ul li {
    display: none;
}

.ingresodato{
    margin-bottom: 3%;
}

.logo {
    width: 50%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}

.logoregister {
    width: 150px;
}

.manito-dolar {
    text-align: center;
    padding: 7px;
    width: 100vw;
}

.manito-dolar i{
    margin: 5px;
}

.nombreYApellido{
    margin-top: 10px;
}

.padre {
    background-color: white;
    width: 100%;
    font-size: 16px;
    margin: 5px;
    box-sizing: border-box;
    transition: all, 700ms
}

.padre:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.precio {
    font-size: 18px;
    width: 70%;
}

.top-header-register {
    background-color: #e7d26b;
    padding: 15px;
    height: 90px;
}


.titulo{
    text-align: center;
    width: 100%;
}




/*---------------------------------------------- TABLET -------------------------------------------*/



@media (min-width: 361px){


    div.burger-menu i{
        display: none;
    }

    header nav ul li {
        display: block;
    }

    .barraSuperior1 li {
        margin: 5px;
        width: 100%;
        word-wrap: break-word;
    }

    .barraSuperior2 li {
        margin: 5px;
        width: 100%;
        word-wrap: break-word;
    }


    .barra{
        background-color: #FFF;
        border: 1px solid #000;
        outline: none;
        color: #666;
        padding: 2px;
        width: 33.33%;
        padding: 5px;
        margin: 10px;
    }

    .barraSuperior1{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 33.33%;
        margin: 10px;
    }

    .barraSuperior2{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 33.33%;
        margin: 10px;
    }

    .cabecera {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .contenedorBarraSuperior {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-right: 5px;
        margin-left: 5px;
    }
   

    .lastVisit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .lastVisit .padre {
        width: 45%;
    }


    .logo {
        width: 33.33%;
        text-align: left;
        margin: 10px;
    }

    .manito-dolar {
        text-align: center;
        width: 33.33%;
        padding: 7px;
    }



}







/*---------------------------------------------- DESKTOP -------------------------------------------*/


@media (min-width: 769px){

    .descripciones {
        display: block; /*Anula lo que hicimos en el .descripciones*/
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        font-size: 16px;
    }

    header nav ul li {
        display: block;
    }


    .lastVisit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .lastVisit .padre {
        width: 23%;
    }

    .pie{
        display: flex;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;

    }

    .footer-icon i{
        color: var(--Celeste);
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 20px;
        transition: all, 450ms;
    }

    .footer-icon i:hover{
        color:  var(--Azul) ;
    }

}